[submodule "eb-node-express-sample"]
	path = eb-node-express-sample
	url = https://github.com/aws-samples/eb-node-express-sample
	branch = master
[submodule "aws-serverless-workshops"]
	path = aws-serverless-workshops
	url = https://github.com/aws-samples/aws-serverless-workshops
	branch = master
[submodule "aws-modern-application-workshop"]
	path = aws-modern-application-workshop
	url = https://github.com/aws-samples/aws-modern-application-workshop
	branch = master
